@page
@model ProjectPRN_FAP.Pages.Admin.ClassPage.ClassModel
@using ProjectPRN_FAP.Bussiness.DTO
@{
    Layout = "_LayoutAdmin";
}

<!-- Button trigger modal create Semester -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
    Create Class
</button>

<!-- Modal Create Semester -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page="/Admin/ClassPage/Class" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Semester</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Tên Class</p>
                    <input type="text" name="className" class="w-100" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Table  Class -->
<div>
    <table id="tablePagnation" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>ClassName</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ClassDTO cDto in Model.classDTOs)
            {
                <tr>
                    <td>
                        <p class="fw-normal mb-1">@cDto.ClassName</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopupDelete('@cDto.ClassId')">
                            Delete
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopup('@cDto.ClassName', '@cDto.ClassId')">
                            Update
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal Update Class -->
<div class="modal fade" id="updateClassModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Update" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Semester</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('updateClassModal')"></button>
                </div>
                <div class="modal-body">
                    <p>Tên Class</p>
                    <input id="updateClassName" type="text" name="updateClassName" class="w-100" />
                    <input id="updateClassid" type="hidden" name="updateClassid" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('updateClassModal')">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal Delete Semester -->
<div class="modal fade" id="deleteClassModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Delete" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Semester</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('deleteClassModal')"></button>
                </div>
                <div class="modal-body">
                    <input id="deleteClassId" type="hidden" name="deleteClassId" />
                    <p> Bạn có chắc chắn muốn xóa Class này không ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('deleteClassModal')">Cancle</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Script -->
<script>
     $('#tablePagnation').DataTable({
        "pagingType": "full_numbers" // "simple" option for 'Previous' and 'Next' buttons only
    });
    function openPopup(className, classId) {
        var inputName = document.getElementById("updateClassName");
        inputName.value = className;

     
        var inputId = document.getElementById("updateClassid");
        inputId.value = classId;

        $('#updateClassModal').modal('show');
    }

    function openPopupDelete(classId) {
        var inputId = document.getElementById("deleteClassId");
        inputId.value = classId;
        $('#deleteClassModal').modal('show');
    }

  
</script>