@page
@using ProjectPRN_FAP.Bussiness.DTO
@model ProjectPRN_FAP.Pages.Admin.ClassPage.ClassAllScoreModel
@{
    Layout = "_LayoutAdmin";
}
<table id="tablePagnation" class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Student Code</th>
            <th>Student Name</th>
            @foreach (SubjectGradeDTO sDTO in Model.subjectGradeDTOs)
            {
                <th>
                    <p class="fw-normal mb-1">@sDTO.Grade.GradeName - @sDTO.Grade.Percent%</p>
                </th>

              

            }
        </tr>
    </thead>
    <tbody>
        @foreach (ClassTranscriptDTO cs in Model.classTranscriptDTOs)
        {
            <tr>
                <td>Student Code</td>
                <td>Student Name</td>
                @foreach(DetailScoreDTO ds in cs.DetailScoreDTOs){
                    <td>
                        <p class="fw-normal mb-1">@ds.Score</p>
                    </td>
                }
              
            </tr>

        }
    </tbody>
</table>